<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>Account Info</h1>
  <br />
  <table class="table table-hover">
    <thead>
    </thead>
    <tbody>
        <tr>
          <td>Admin Name</td>
          <td><%= current_admin["name"] %></td>
        </tr>
        <tr>
          <td>Admin type</td>
          <td>
            <% if current_admin["master"] == "1" %>
              <%="Master"%>
            <% else %>
              <%="Team"%>
            <% end %>
          </td>
        </tr>
    </tbody>
  </table>
</section>

  <br /><br />

  <section class="content-header">
    <h1>Change Password</h1>
    <br />
    <div id="change_password">
      <%=form_tag "/admins/account", :method => :post, :class => 'form-inline'  do %>
      <div class="form-group">
        <%= label_tag :new_password, "New Password:"%>
        <%= password_field_tag :new_password, nil, class:"form-control"%>
      </div>
      <%= submit_tag "Apply New Password", class:"btn btn-success" %>
      <% end %>
    </div>
  </section>
