<h1>New Admin</h1>
<%= form_tag "/admins" do %>

  <div class="field">
       <%=label_tag 'name' %>
       <%=text_field_tag :name%>
  </div>
  <div class="field">
       <%=label_tag 'password' %>
       <%= password_field_tag :password %>
  </div>
  <div class="field">
       <%=label_tag 'master' %>
       <%= check_box_tag :master %>
  </div>

  <div class="actions">
       <%= submit_tag 'Create Admin'%>
  </div>
<% end %>
