<section class="content-header">
  <h1>View Users</h1>
  <br />
  <table class="table table-hover table-bordered table-striped text-center ">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Bus</th>
        <th>Pick Up Location</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      <% unless @users== nil %>
        <% @users.each do |user_id, values| %>
          <tr>
            <td><%= values["uid"] %></td>
            <td><%= values["name"] %></td>
            <td><%= values["bus"] %></td>
            <td><%= values["pickUpLocation"]["name"] %></td>
            <td><%= link_to 'Remove', {:controller => "users", :action => :destroy, :id => user_id },method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</section>
