<h1>New User</h1>

<%= form_tag '/users' do %>
  <div class="field">
    <%= label_tag "User ID" %>
    <%= text_field_tag :uid %>
  </div>

  <div class="field">
    <%= label_tag :bus %>
    <%= text_field_tag :bus%>
  </div>

  <div class="actions">
    <%= submit_tag 'Add' %>
  </div>
<% end %>


<%= link_to 'Back', users_path %>
