<h1>New Bus</h1>

<%= form_tag "/buses" do %>
  <div class="field">
    <%= label_tag :number %>
    <%= number_field_tag :number%>
  </div>

  <div class="field">
    <%= label_tag "Point 1" %>
    <%= text_field_tag "points[0]" %>
  </div>

  <div class="actions">
    <%= submit_tag 'Create Bus' %>
  </div>
<% end %>

<%= link_to 'Back', buses_path %>
<script type="text/javascript" src="/js/bus.js"></script>
